USE [master]
GO
/****** Object:  Database [WebBook]    Script Date: 17/03/2023 8:24:16 CH ******/
CREATE DATABASE [WebBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebBook', FILENAME = N'D:\Programs\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebBook_log', FILENAME = N'D:\Programs\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebBook]
GO
/****** Object:  Table [dbo].[Access_Times]    Script Date: 17/03/2023 8:24:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Access_Times](
	[AccessTimes] [int] NULL,
	[Update_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 17/03/2023 8:24:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Book_Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Category] [nvarchar](250) NOT NULL,
	[Author] [nvarchar](50) NULL,
	[Create_at] [datetime] NULL,
	[Update_at] [datetime] NULL,
	[Avatar] [nvarchar](50) NULL,
	[View] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[User_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Book_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17/03/2023 8:24:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_Id] [int] NOT NULL,
	[Category_Name] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 17/03/2023 8:24:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[Chapter_Id] [int] NOT NULL,
	[Chapter_Name] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
	[Book_Id] [int] NULL,
 CONSTRAINT [PK_Chapter] PRIMARY KEY CLUSTERED 
(
	[Chapter_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reaction]    Script Date: 17/03/2023 8:24:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reaction](
	[Comment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Comment_content] [nvarchar](max) NULL,
	[Update_at] [datetime] NOT NULL,
	[User_Name] [nvarchar](50) NULL,
	[Book_Id] [int] NULL,
 CONSTRAINT [PK_Reaction] PRIMARY KEY CLUSTERED 
(
	[Comment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17/03/2023 8:24:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_Name] [nvarchar](50) NOT NULL,
	[Full_Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Create_at] [datetime] NULL,
	[Last_Login] [datetime] NULL,
	[Status] [nchar](50) NULL,
	[Permission_Id] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_User] FOREIGN KEY([User_Name])
REFERENCES [dbo].[User] ([User_Name])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_User]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Books] FOREIGN KEY([Book_Id])
REFERENCES [dbo].[Books] ([Book_Id])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Books]
GO
ALTER TABLE [dbo].[Reaction]  WITH CHECK ADD  CONSTRAINT [FK_Reaction_Books] FOREIGN KEY([Book_Id])
REFERENCES [dbo].[Books] ([Book_Id])
GO
ALTER TABLE [dbo].[Reaction] CHECK CONSTRAINT [FK_Reaction_Books]
GO
ALTER TABLE [dbo].[Reaction]  WITH CHECK ADD  CONSTRAINT [FK_Reaction_User] FOREIGN KEY([User_Name])
REFERENCES [dbo].[User] ([User_Name])
GO
ALTER TABLE [dbo].[Reaction] CHECK CONSTRAINT [FK_Reaction_User]
GO
USE [master]
GO
