/*.row {
    padding-top: 20px;
}*/

.course {
    list-style: none;
    padding-top:25px;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

        .course > li .date {
            text-align: center;
            background-color: #6EB5F5;
            color: white;
            width: 60px;
            border-radius: 8px
        }

        .course > li .details {
            position: absolute;
            top: 0;
            left: 70px
        }
        .course > li .action {
            position: absolute;
            display: none;
            left: 70px
        }
        .course > li:hover .action {
            display: block;
        }

                .course > li .details .category button{
                background-color: #6EB5F5;
                color: white
            }
                .course > li .details .lecturer button {
                color: #6EB5F5;
                border: none
            }

.navbar-inverse {
    background-color: #FFA923;
    border-color: white;
}

    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a {
        color: white
    }
/*
.div-middle {
    text-align: center
}
    .div-middle .formfield{
        margin: 0 auto;
        width: 50%;
    }
        .div-middle .formfield form{
        text-align: left;
    }

    form select,
    form input {
        margin: 0 auto
    }*/
